<% #= javascript_include_tag "new_account" %>
<% stylesheet_link_tag "signup" %>
<% @title = "新規登録" %>

<div class="container">
<%= form_for @new_account, url: accounts_path do |f| %>

  <% if flash[:form_errors] %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        <%= t '.error_count', count: flash[:form_errors].length %>
      </h4>

      <ul>
        <% flash[:form_errors].each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="back">
  <table style="margin: auto">
    <tr>
      <td><%= t 'activerecord.attributes.account.name' %></td>
      <td>
        <%= f.text_field :name, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t 'activerecord.attributes.account.password' %>
      </td>
      <td>
        <%= f.password_field :password, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t 'activerecord.attributes.account.password' %>の確認
      </td>
      <td>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.account.birthday' %></td>
      <div class="form-group">
      <td>
      <% today = Date.today%>
      <%= f.date_select :birthday, {start_year: today.year - 120, end_year: today.year, use_month_numbers: true, date_separator: "-"}, {class: "js-date-selector"} %>
      </td>
      </div>
    </tr>
    <tr>
    <tr>
      <td><%= t 'activerecord.attributes.account.sex' %></td>
      <td>
        <%= f.select :sex, [["男性", "m"], ["女性", "f"]], class: "form-control" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.submit t'.register', class: "btn btn-primary" %>
        または<%= link_to "ログイン", :signin %>
      </td>
    </tr>
  </table>
  </div>
</div>

<% end %>
